.body{
    margin: 0;
    padding: 0;
}

.box{
    width: 300px;
    height: 300px;
    padding: 10px;
    /*margin: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
} 

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.clear{
    clear:both;
}