.gorsel{
    width: 351px;
    height: 113px;
    padding: auto;
    margin: auto;
    display: block;
}

.paragraf{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.ortala{
    background-color: rgb(238, 238, 238);
    padding: auto;
    margin-left: 60px;
    margin-right: 60px;
    display: block;
    height: 70px;
}

.arama{
    background-color: white;
    height: 20px;
    width: 25%;
    margin: auto;
    border-style:solid;
    border-width: 1px;
}

.btn{
    float: left;
    background-color: rgb(238, 238, 238);
    height: 20px;
    border-style: solid;
    border-width: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 2px;
    border-radius: 2px;
}

.left-bar{
    margin-left: 40%;
}

.card1{
    width: 415px;
    height: 80px;
    float: left;
    /* padding: 47px; */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(126, 229, 218);
    margin-left: 60px;
    margin-right: 0px;
    text-align: center;
}
.card2{
    width: 365px;
    height: 80px;   
    float: left;
    /* padding: 47px; */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(126, 229, 218);
    margin-left: 1px;
    margin-right: 0px;
    text-align: center;
}
.card3{
    width: 415px;
    float: left;
    /* padding: 47px; */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(126, 229, 218);
    margin-left: 1px;
    margin-right: 0px;
    text-align: center;
}

.content{
    width: 100%;
    float: left;
}

.arama2{
    background-color: white;
    height: 20px;
    width: 70%;
    margin: auto;
    border-style:solid;
    border-width: 1px;
}

.btn2{
    float: left;
    background-color: rgb(238, 238, 238);
    height: 20px;
    border-style: solid;
    border-width: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 70px;
    border-radius: 2px;
}
