h1 {
    color: rgb(218, 36, 151);
}
h2 {
    color: rgb(116, 97, 245);
}
h3 {
    color: darkgoldenrod;
}
h4 {
    color: rgb(211, 84, 11);
}
.ortala {
    text-align: center;
}
a {
    color:rgba(48, 95, 0, 0.692);
}
ul {
    list-style-position: inside;
}
ol {
    list-style-position: inside;
}